.nick_input,
.title_input,
.content_input {
    outline: none;
    border: 0.5px solid rgb(160, 160, 160);
}

.nick_input:hover,
.title_input:hover,
.content_input:hover {
    border: 0.5px solid rgb(156, 204, 233);
}

.nick_input {
    width: 100px;
    height: 20px;
    font-family: inherit;
}

.title_input {
    width: 280px;
    height: 20px;
    font-family: inherit;
}

.content_input {
    width: 384px;
    height: 500px;
}

.form_box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.write_post {
    font-size: 30px;
    padding-left: 10px;
}

.sub_btn_container {
    position: fixed;
    bottom: 90px;
    right: 41%;
    z-index: 999;
    /* 다른 요소들보다 위에 위치하도록 z-index 설정 */
}

.sub_btn {
    background-color: #343434;
    color: #fff;
    border: none;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sub_btn:hover {
    background-color: #c96112;
    transform: translateY(-5px);
    /* 마우스 호버 시 배경색 변경 */
}

.sub_btn:active {
    transform: translateY(0);
    /* 클릭 시 이동한 만큼 되돌아오도록 설정 */
}

.ck p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ck {
    max-height: 500px;
}

.sub_btn_container2 {
    position: fixed;
    bottom: 90px;
    right: 45%;
    z-index: 999;
}

.sub_btn2 {
    background-color: #343434;
    color: #fff;
    border: none;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sub_btn2:hover {
    background-color: #c96112;
    transform: translateY(-5px);
}

.sub_btn2:active {
    transform: translateY(0);
}