.main_pg p {
    padding: 5px;
    margin: 0px;
    font-weight: 400;
    padding-right: 165px;
}

.InMyPage {
    display: flex;
    padding-top: 6px;
    align-items: center;
}

.InMyPage p {
    margin-right: 30px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.InMyPage img {
    width: 40px;
    height: 40px;

}

.mainpg_header {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 340px;
    margin-left: 25px;

}

.mainpg_nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0px 15px;
    margin: 0px;
    height: 25px;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

.mainpg_nav li {
    list-style: none;
}

.mainpg_nav a {
    text-decoration: none;
    color: inherit;
}

.InMyPage a {
    text-decoration: none;
    color: inherit;
}