.in_Email,
.in_password {
    display: flex;
    justify-content: center;
}

#signUpEmail,
#signUpPassword,
#confirmPassword,
#nickname {
    width: 300px;
    height: 25px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
}

::placeholder {
    /* placeholder 텍스트의 크기와 두께를 설정합니다 */
    font-size: 14px;
    color: black;
    /* 원하는 크기로 설정 */
    font-weight: 600;
    /* 원하는 두께로 설정 */
    /* 기타 스타일링 */
}

input[type="email"],
input[type="password"],
input[type="text"] {
    outline: none;
}


.sign_in_btn {
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 2px 5px #000000;
}

.google_btn {
    padding-top: 100px;
    border: none;
    background: none;
}

.go_sign_btn {
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 2px 5px #000000;
    font-size: 20px;
}

.sign_and_login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.error {
    width: 320px;
    display: flex;
    justify-content: end;
    color: red;
    margin: 0px;
    font-size: 12px;
}

.error p {
    padding-right: 5px;
}

.in_profile {
    position: relative;
    display: flex;
    justify-content: center;
}

.in_profile input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.profile_intro {
    font-size: 25px;
    margin: 15px 0px;
}