.yamae_free {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    border: 3px solid #000000;
    border-radius: 20px;
    box-shadow: 15px 10px 3px #888888;
    position: relative;
}


.yamae_notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}


.yamae_write_btn {
    height: 30px;
    background-color: transparent;
    border: none;
}

.yamae_free img {
    width: 20px;
}


.yamae_post-list .yamae_post-item {
    display: grid;
    grid-template-columns: 35px 50px 155px 60px;
    grid-template-areas: '순서 닉네임 제목 날짜';
    border-bottom: 1px solid #888888;
    color: #000000;
}

.yamae_post-list a {
    text-decoration: none;
}

.yamae_post-list p {
    font-size: 11px;
    display: inline;
    margin: 5px 0px;
}

.yamae_post-list p:nth-child(1) {
    padding-left: 13px;
}

.yamae_post-list p:nth-child(2) {
    padding-left: 6px;
}

.yamae_post-list p:nth-child(3) {
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    /* 한 줄로만 표시하도록 설정 */
    text-overflow: ellipsis;
    /* 넘치는 부분에 ... 표시 */
    width: 150px;
}

.yamae_post-list p:nth-child(4) {
    font-size: 9px;
}



.yamae_post-header {
    display: grid;
    grid-template-columns: 35px 50px 155px 60px;
    grid-template-areas:
        '순서 닉네임 제목 날짜';
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

.yamae_post-header p {
    margin: 3px 0px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.yamae_pagination {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    padding: 0;
}

.yamae_pagination button {
    margin: 0 5px;
    width: 25px;
    background-color: transparent;
    color: #000000;
    border: none;
}

.yamae_post-item.notice-page p:nth-child(2) {
    order: 1;
}