.yamae_free {
    width: 350px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    border: 3px solid #000000;
    border-radius: 20px;
    box-shadow: 10px 10px 3px #888888;
    position: relative;
}


.yamae_notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 10px 0px;
}

.yamae_notice p {
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    line-height: 90%;
}


.yamae_write_btn {
    height: 30px;
    background-color: transparent;
    border: none;
}

.yamae_free img {
    width: 20px;
}




.component-post-list .post-item {
    display: grid;
    grid-template-columns: 35px 70px 175px 60px;
    grid-template-areas: '순서 닉네임 제목 날짜';
    border-bottom: 1px solid #888888;
    color: #000000;
}

.component-post-list a {
    text-decoration: none;
}

.component-post-list p {
    font-size: 13px;
    display: inline;
    margin: 3.5px 0px;
    border-left: 1px solid #888888;
    font-weight: 700;
}

.component-post-list p:nth-child(1) {
    padding-left: 13px;
    border: none;
}

.component-post-list p:nth-child(2) {
    padding-left: 6px;
}

.component-post-list p:nth-child(3) {
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 170px;
}



.component-post-list p:nth-child(4) {
    font-size: 12px;
    padding-left: 8px;
}



.yamae_post-header {
    display: grid;
    grid-template-columns: 35px 70px 175px 60px;
    grid-template-areas:
        '순서 닉네임 제목 날짜';
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

.yamae_post-header p {
    margin: 3px 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-left: 1px solid #888888;
    font-weight: 700;
}

.yamae_post-header p:nth-child(1) {
    border: none;
}

.yamae_pagination {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    padding: 0;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
}

.yamae_pagination button {
    margin: 0 5px;
    width: 25px;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
}

.yamae_post-item.notice-page p:nth-child(2) {
    order: 1;
}