#root {
  max-width: 1280px;
  font-family: 'IM_Hyemin-Bold';
}

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.MainPage-background {
  background-image: url('/public/img/MainPage_background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  /* 화면 너비만큼 요소를 꽉 채움 */
  height: 100vh;
  /* 화면 높이만큼 요소를 꽉 채움 */
  margin: 0;
  padding: 0;
}

.login-background,
.signIn-background {
  background-image: url('/public/img/bg.png');
  margin: 0;
  padding: 0;

  @media (max-width: 2021px) {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}