#root {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
}

body {
  background-color: #fff3c1;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  width: 393px;
  height: 852px;
  margin: 5vh auto;
}

.LoginPage_bg {
  background-color: #fff3c1;
  border: 1px solid #6a6a6a;
  border-radius: 20px;
}

.MainPage_bg {
  width: 393px;
  height: 852px;
  background-color: #fff3c1;
  border: 1px solid #6a6a6a;
  border-radius: 20px;
}

.notice_pg {
  background-color: #fff3c1;
  width: 393px;
  height: 852px;
  border: 1px solid #6a6a6a;
  border-radius: 20px;
}

html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}